<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-7"
      style="background-image: url('assets/img/header.jpg');">

    </div>
    <div class="container">
      <div class="content-center brand">
        <img class="n-logo" src="assets/img/now-logo.png" alt="">
        <h1 class="h1-seo">G Game Center</h1>
        <h3>Games on G Game Center.</h3>
      </div>
      <h6 class="category category-absolute">Designed by
        <a href="https://www.facebook.com/kiki.chau.3" target="_blank">
          Wing Ki Chau
        </a>. Coded by
        <a href="https://www.instagram.com/kiki_kkcwk311/" target="_blank">
          <img src="assets/img/creative-tim-white-slim2.png" class="creative-tim-logo" max-width="140px" />
        </a>.</h6>
    </div>
  </div>

  <div class="main">
    <div class="section section-about-us">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Welcome to G Game Center!!</h2>
            <h5 class="description">Browse the newest, top selling and discounted PC games on G Game Center
            </h5>
          </div>
        </div>
        <div class="separator separator-primary"></div>
        <div class="section-story-overview">
          <div class="row">
            <div class="col-md-6">
              <div class="image-container image-left" style="background-image: url('assets/img/login.jpg')">
                <!-- First image on the left side -->
                <p class="blockquote blockquote-primary">"Dedicated to creating the most epic entertainment
                  experiences...ever."
                  <br>
                  <br>
                  <small>-Kiki Chau</small>
                </p>
              </div>
              <!-- Second image on the left side of the article -->
              <div class="image-container" style="background-image: url('assets/img/bg3.jpg')"></div>
            </div>
            <div class="col-md-5">
              <!-- First image on the right side, above the article -->
              <div class="image-container image-right" style="background-image: url('assets/img/bg1.jpg')">
              </div>
              <h3>G Game Cent is a platform for users</h3>
              <p>
                First, users can upload the new, top-selling and popular games information, including game picture,
                information,
                release date and developer.
                Of course, you can modify and delete the game of what you want.
              </p>
              <p>
                Second, users can make suggestion and discussions on the game after the game information is uploader.
                Users can
                communication with the game and discuss the game opinions, game methods and game strategies.
              </p>
              <p>
                Third, users can use anonymous names for discussion, and do not upload information about users to
                protect users.
              </p>
            </div>
          </div>
        </div>
        <div class="separator separator-primary"></div>
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Game on G Game Center!!</h2>
          <h5 class="description">Browse the new, top selling and popular game, show games on G Game Center.
          </h5>
        </div>
      </div>
    </div>
    <div class="section section-team text-center">
      <div class="container">
        <div class="team">
          <div class="row">
            <div class="col-md-4">
              <div class="team-player">
                <img src="assets/img/avatar.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">

                <h4 class="title">PLAYERUNKNOWN'S BATTLEGROUNDS</h4>
                <p class="description">PLAYERUNKNOWN'S BATTLEGROUNDS is a battle royale shooter that pits 100 players
                  against
                  each other in a struggle for survival. Gather supplies and outwit your opponents to become the last
                  person
                  standing.</p>
                <p class="category text-primary">Developer: PUBG Corporation</p>
                <p class="category text-primary">Date: 2017-12-21</p>
                <a [routerLink]="['/allcommant']" class="btn btn-primary btn-round">All commant</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-player">
                <img src="assets/img/ryan.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                <h4 class="title">MONSTER HUNTER: WORLD</h4>
                <p class="description">Welcome to a new world! In Monster Hunter: World, the latest installment in the
                  series, you can enjoy the ultimate hunting experience, using everything at your disposal to hunt
                  monsters in a new world teeming with surprises and excitement.</p>
                <p class="category text-primary">Developer: CAPCOM Co., Ltd.</p>
                <p class="category text-primary">Date: 2018-08-10</p>
                <a href="allcommant" class="btn btn-primary btn-round">All commant</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-player">
                <img src="assets/img/eva.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                <h4 class="title">Sekiro™: Shadows Die Twice</h4>
                <p class="description">Carve your own clever path to vengeance in an all-new adventure from developer
                  FromSoftware, creators of Bloodborne and the Dark Souls series. Take Revenge. Restore your honor. Kill
                  Ingeniously.</p>
                <p class="category text-primary">Developer: FromSoftware</p>
                <p class="category text-primary">Date: 2019-03-22</p>
                <a href="allcommant" class="btn btn-primary btn-round">All commant</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-download" id="#download-section" data-background-color="black">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="text-center col-md-12 col-lg-8">
            <h3 class="title">Do you love this G Game Center?</h3>
            <h5 class="description">G Game Center is the ultimate destination for discussing.</h5>
          </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row text-center mt-5">
          <div class="col-md-8 ml-auto mr-auto">
            <h2>And so much more...</h2>
            <h5 class="description">Read and create reviews, explore custom recommendations, and more.</h5>
          </div>
        </div>
        <br>
        <br>
        <div class="row justify-content-md-center sharing-area text-center">
          <div class="text-center col-md-12 col-lg-8">
            <h3>Thank you for supporting us!</h3>
          </div>
          <div class="text-center col-md-12 col-lg-8">
            <a target="_blank" href="https://www.facebook.com/kiki.chau.3"
              class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="Like us">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a target="_blank" href="https://github.com/kikichau/webapi"
              class="btn btn-neutral btn-icon btn-github btn-round btn-lg" rel="tooltip" title="Star on Github">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer" data-background-color="black">
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="https://www.facebook.com/kiki.chau.3">
              Facebook
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/kiki_kkcwk311/">
              instagram
            </a>
          </li>
          <li>
            <a href="https://github.com/kikichau/webapi">
              Github
            </a>
          </li>
          <li>
            <a href="https://github.com/kikichau/webangular">
              Github
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        &copy;
        {{data | date: 'yyyy'}}, Designed by
        <a href="https://www.facebook.com/kiki.chau.3" target="_blank">Wing Ki Chau </a>. Coded by
        <a href="https://www.instagram.com/kiki_kkcwk311/" target="_blank">Wing Ki Chau</a>.
      </div>
    </div>
  </footer>
</div>