<div class="wrapper">
 <div class="page-header page-header-small">
  <div class="page-header-image rellax-header" data-rellax-speed="-8"
   style="background-image: url('assets/img/bg6.jpg');">
  </div>
  <div class="container">
   <div class="content-center">
    <h1 class="title">This is your games page.</h1>
    <div class="text-center">
     <a href="creategame" class="btn btn-primary btn-round">
      Create game
     </a>
    </div>
   </div>
  </div>
 </div>
 <div class="main">
 <div class="section section-team text-center">
  <div class="container">
   <div class="team">
    <div class="row">
     <div class="col-md-4">
      <div class="team-player">
       <img src="assets/img/avatar.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
       <h4 class="title">PLAYERUNKNOWN'S BATTLEGROUNDS</h4>
       <p class="description">PLAYERUNKNOWN'S BATTLEGROUNDS is a battle royale shooter that pits 100 players against
        each other in a struggle for survival. Gather supplies and outwit your opponents to become the last person
        standing.</p>
        <p class="category text-primary">Developer: PUBG Corporation</p>
       <p class="category text-primary">Date: 2017-12-21</p>
       <p class="category text-primary">GameID: 5cc47d63a244d50cd063b691</p>
       <a href="allcommant" class="btn btn-primary btn-round">All commant</a>
       <a [routerLink]="['/modifygame']" class="btn btn-primary btn-round">Modify Game</a>
       <button href="yourgame" class="btn btn-primary btn-round" type="button">Delete Game</button>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
<footer class="footer" data-background-color="black">
  <div class="container">
   <nav>
    <ul>
     <li>
      <a href="https://www.facebook.com/kiki.chau.3">
       Facebook
      </a>
     </li>
     <li>
      <a href="https://www.instagram.com/kiki_kkcwk311/">
       instagram
      </a>
     </li>
     <li>
      <a href="https://github.com/kikichau/webapi">
       Github
      </a>
     </li>
    </ul>
   </nav>
   <div class="copyright">
    &copy;
    {{data | date: 'yyyy'}}, Designed by
    <a href="https://www.facebook.com/kiki.chau.3" target="_blank">Wing Ki Chau </a>. Coded by
    <a href="https://www.instagram.com/kiki_kkcwk311/" target="_blank">Wing Ki Chau</a>.
   </div>
  </div>
 </footer>
</div>